<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

    <body>

        <!-- Navigation-->
        <%- include('layouts/nav'); -%>
            <header class="masthead"
                style="background-image:linear-gradient(rgba(47, 23, 15, 0.65),rgba(47, 23, 15, 0.65)), url('assets/img/intro.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>Dashboard</h1>
                                <span class="subheading">DriveTest Booking Kiosk</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>



            <%- include('layouts/footer'); -%>
                <%- include('layouts/script'); -%>

    </body>

</html>