<!DOCTYPE html>
<html lang="en">

<%- include('layouts/head'); -%>

    <body>
        <!-- Navigation-->
        <%- include('layouts/nav'); -%>
            <header class="masthead"
                style="background-image:linear-gradient(rgba(47, 23, 15, 0.65),rgba(47, 23, 15, 0.65)), url('assets/img/intro.jpg')">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h1>WELCOME BACK!</h1>
                                <span class="subheading">Login to your account</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="mb-4">
                <div class="container px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="my-5">
                                <form id="loginForm" action="/login" method="POST">
                                    <div class="form-floating">
                                        <input class="form-control" id="username" name="username" type="text"
                                            placeholder="Enter your username..." required />
                                        <label for="username">Username</label>
                                    </div>
                                    <div class="form-floating">
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Password" required>
                                        <label for="password">Password</label>
                                    </div>
                                    <br />
                                    <button class="btn btn-primary text-uppercase" type="submit">Login</button>
                                </form>
                                <% if (typeof showSignupLink !=='undefined' && showSignupLink) { %>
                                    <p class="mt-3">Don't have an account? <a href="/signup">Sign up here</a></p>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <%- include('layouts/footer'); -%>
                <%- include('layouts/script'); -%>
    </body>

</html>